html {
    font-family: Hack, monospace;
    font-size: 2em;
}

body {
    background-color: rgb(43, 43, 43);
}

.contLog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-top: 20vh;
}

.login {
    color: aliceblue;
    text-align: center;
    border: 3px solid rgb(25, 159, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.login button[type = submit] {
    width: 30%;
    height: 2.5em;
    background-color: rgb(32, 212, 225);
    border-radius: 10px;
    border: none;
    outline: none;
    transition: .5s;
}

.login button[type = submit]:hover {
    background-color: rgb(84, 241, 252);
    transition: .5s;
}

.login button[type = submit]:active {
    border-style: none;
}

.switchlogin {
    border: none;
    background-color: rgba(0,0,0,0);
    color: aliceblue;
    transition: 0.1s;
    outline: none;
    cursor: pointer;
}

.switchlogin:hover {
    transition: 0.1s;
    color: rgb(32, 212, 225);
}

.switchlogin:active {
    border-style: none;
}

.login input {
    text-indent: 2%;
    height: 3em;
    width: 20em;
    margin: 1em
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login h1 {
    margin-bottom: 1em;
}

.loginButton {
    font-size: 0.8em;
    border-radius: 4px;
    border: 3px solid #4CAF50; /* Green */
}

.loginButton:hover {
    background-color: #4CAF50;
    color: aliceblue;
}

.registerButton {
    font-size: 0.5em;
    border-radius: 4px;
    border: 3px solid #af4c4c; /* Green */
}

.registerButton:hover {
    background-color: #af4c4c;
    color: aliceblue;
}

.googleButton {
    background: transparent;
    border: none;
    outline: none;
}

.googleButton img {
    background: transparent;
    width: 64px;
    border: none;
}